<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/my.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 后台用户信息</strong></div>
    <div class="container">
        <table class="table table-hover mt20 table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>添加时间</th>
                <th>登录时间</th>
                <th>等级</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <foreach name="data" item="val">
            <tr>
                <td><{$val.id}></td>
                <td><{$val.adminname}></td>
                <td><{$val.phone}></td>
                <td><{$val.email}></td>
                <td><{$val.addtime|date='Y-m-d H:i:s',###}></td>
                <td><{$val.logtime|date='Y-m-d H:i:s',###}></td>
                <td><if condition="$val.level eq '0'">超级管理员
                    <else />技术人员
                    </if></td>
                <td><if condition="$val.status eq '0'">正常
                    <else />禁用
                    </if></td>
                <td>
                    <if condition="$val.status eq '0'"><a href="<{:U('User/forbidden',array('id'=>$val['id']))}>" class="btn btn-danger">禁用</a>
                    <else /><a href="<{:U('User/release',array('id'=>$val['id']))}>" class="btn btn-success">解禁</a></if>
                    <a href="<{:U('User/del',array('id'=>$val['id']))}>" class="btn btn-danger">删除</a>
                </td>
            </tr>
            </foreach>
        </table>
    </div>
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>