<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<link rel="stylesheet" href="__PUBLIC__/page.css">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<style>
</style>
</head>
<body>
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> </div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="<{:U('Press/add')}>"> 添加内容</a> </li>
        <li>
          <input id="pressname" value="" type="text" placeholder="请输入出版社关键字" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <button id="search" class="button border-main icon-search" type="submit"> 搜索</button>
      	</li>
      </ul>
    </div>
    <table class="table table-hover text-center" id="tablelist">
      <tr>
        <th width="10%" style="text-align:center; padding-left:20px;">ID</th>
        <th width="10%">出版社名</th>
        <th width="10%">图片</th>
        <th width="20%">简介</th>
        <th width="20%">添加时间</th>
        <th width="310">操作</th>
      </tr>   
      <volist name="press" id="vo">
        <tr>
          <td><{$vo.id}></td>
          <td><{$vo.pressname}></td>
          <td><img src="__UPLOAD__/press/<{$vo.pic}>" alt="" width="162" height="54" /></td>
          <td><span style="display:block;width:300px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;"><{$vo.descr}></span></td>
          <td><{$vo.addtime|date='Y-m-d H:i:s',###}></td>
          <td><div class="button-group"> <a class="button border-main" href='<{:U("edit?id=$vo[id]")}>'><span class="icon-edit"></span> 修改</a> <a class="button border-red" href='<{:U("del?id=$vo[id]")}>'><span class="icon-trash-o"></span> 删除</a> </div></td>
        </tr>
    </volist>
    	<tr>
            <td colspan="6"><div class="pages" value="" id="pages"><{$page}></div></td>
    	</tr>
    </table>
  </div>
<script>
    $('#search').click(function(){
        var where = $('#pressname').val();
        $.ajax({
            type:'get',
            url:'<{:U('Press/index')}>',
            data:"pressname="+where,
            success:function(data){
                var $data = $(data);
                var target_div = $data.find("#tablelist");
                $('#tablelist').html(target_div);
            },
        })
    })

    function user(page){
        var p = page;
        var where = $('#pressname').val();        
        $.ajax({
            type:'get',
            url:'<{:U('Press/index')}>',
            data:"pressname="+where+"&p="+p,
            success:function(data){
                var $data = $(data);
                var target_div = $data.find("#tablelist");
                $('#tablelist').html(target_div);
            },
        })
    }

// //单个删除
// function del(id,mid,iscid){
// 	if(confirm("您确定要删除吗?")){
		
// 	}
// }

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

//批量删除
function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;		
		$("#listform").submit();		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

//批量排序
function sorts(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		return false;
	}
}


//批量首页显示
function changeishome(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}

//批量推荐
function changeisvouch(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");	
		
		return false;
	}
}

//批量置顶
function changeistop(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}


//批量移动
function changecate(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		
		return false;
	}
}

//批量复制
function changecopy(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		var i = 0;
	    $("input[name='id[]']").each(function(){
	  		if (this.checked==true) {
				i++;
			}		
	    });
		if(i>1){ 
	    	alert("只能选择一条信息!");
			$(o).find("option:first").prop("selected","selected");
		}else{
		
			$("#listform").submit();		
		}	
	}
	else{
		alert("请选择要复制的内容!");
		$(o).find("option:first").prop("selected","selected");
		return false;
	}
}
</script>
</body>
</html>