<extend name="Role/index" />

<block name="main">

<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 添加角色</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="<{:U('Role/doadd')}>">
      <div class="form-group">
        <div class="label">
          <label for="sitename">角色名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="mpass" name="name" size="50" placeholder="角色名" data-validate="required:请输入角色名" /> 
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename">说明：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="remark" size="50" placeholder="" data-validate="required:请输入说明" />       
        </div>
      </div>      
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
			    <input type="radio" name="status" value="1" checked>启用
			    <input type="radio" name="status" value="0" >禁用
		    </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 添加</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</block>