<extend name="Index/index"/>

<block name="main">
    <link rel="stylesheet" href="__PUBLIC__/page.css">
<style>
    #tx{
        margin-top: 20px;
        border-radius: 50%;
    }
    #pic{
        width:180px;
        margin-left:50px;
        float:left;
    }
    td{text-align:center;height:40px;font-size: 15px;}
    td p{color: red}
    .inf{padding-left:2px;height:35px;}
    .inf:focus{border:1px solid #38B0DE;}
</style>
<div style="margin-top:30px;background-color:#FDFDFB;width:100%">
<div class="container clearfix">
    <div class="row clearfix">
        <div class="col-md-2 list fl">
            <h2 style="font-size:20px;height:150px;line-height:50px;background-color:#f2f2f0;border:1px solid #ccc;border-top:none;">   <if condition="$inf['pic'] eq ''"><img id="tx" src="__UPLOAD__/reader/touxiang.jpg" alt="" width="80" height="80"><else /><img id="tx" src="__UPLOAD__/reader/<{$inf[pic]}>" alt="" width="80" height="80"></if>
                <p style="font-size:15px"><{$inf[readername]}></p>
            </h2>
            <h2 style="background-color:#f2f2f0;border:1px solid #ccc;border-top:none;">
                <a href="<{:U('Person/index')}>" style="font-size:18px;height:60px;line-height:60px">我的图书</a>
            </h2>
            <h2 style="background-color:#f2f2f0;border:1px solid #ccc;border-top:none;">
                <a href="<{:U('Person/order')}>" style="font-size:18px;height:60px;line-height:60px">我的订单</a>
            </h2>
            <h2 style="background-color:#f2f2f0;border:1px solid #ccc;border-top:none;">
                <a href="<{:U('Person/inf')}>" style="font-size:18px;height:60px;line-height:60px">个人信息</a>
            </h2>
            <h2 style="background-color:#34495E;border:1px solid #34495E;border-top:none;">
                <a href="<{:U('Person/passwd')}>"  style="font-size:18px;height:60px;line-height:60px;color:white;">修改密码</a>
            </h2>
            <h2 style="background-color:#f2f2f0;border:1px solid #ccc;border-top:none;">
                <a href="#" style="font-size:18px;height:60px;line-height:60px">我的代金券</a>
            </h2>
        </div>
        <div class="book fr" style="height:auto;">
            <span style="width:97%;height:40px;display:block;" id="tablelist">
                <form method="post" action="<{:U('Person/doChangepwd')}>" onsubmit="return checkPasswd();">
                    <input type="hidden" name="id" value="<{$inf['id']}>">
                    <div class="col-md-9">
                    <table class="table">
                        <caption>修改密码</caption>
                        <tr>
                            <td>原密码：</td>
                            <td>
                                <input id="oldpasswd" class="inf" type="password" name="oldpasswd">
                            </td>
                            <td style="width:180px;height:35px;line-height:35px">
                                <p id="p1"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>新密码：</td>
                            <td>
                                <input id="newpasswd" class="inf" type="password" name="newpasswd">
                            </td>
                            <td style="width:180px;height:35px;line-height:35px">
                                <p id="p2"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>重复密码：</td>
                            <td style="width:250px;">
                                <input id="repasswd" class="inf" type="password" name="repasswd">
                            </td>
                            <td style="width:180px;height:35px;line-height:35px">
                                <p id="p3"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>手机号:</td>
                            <td><{$inf.phone}>   <a href="javascript:void(0)" id="phoneyzm" class="btn btn-primary">发送验证码</a></td>
                            <td style="text-align:left;"><input type="text" name="phoneyzm" class="inf" style="text-align:left;width:100px;"></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <button class="btn btn-success" type="submit"> 提交</button>　　　　
                                <button class="btn btn-primary" type="reset"> 重置</button>
                            </td>
                        </tr>
                    </table>    
                    </div>        
                </form>
            </span>
        </div>
    </div>
    <script>
        var timer="";
        var nums=60;
        var validCode=true;//定义该变量是为了处理后面的重复点击事件
        $("#phoneyzm").click(function(){
            var code=$(this);
            if(validCode){
                console.log(111);
                validCode=false;
                var phone = "<{$inf['phone']}>";
                $.ajax({
                    type:'get',
                    data:'phone='+phone,
                    url:'<{:U('Person/sendyzm')}>',
                    success:function(data){
                    },
                });
                
                timer=setInterval(function(){
                    if(nums>0){
                        nums--;
                        // validCode=false;
                        code.text(nums+"秒后重新发送");
                        code.removeClass("btn-primary");
                        $('#phoneyzm').unbind('click');
                        code.addClass("gray-bg");
                    }
                    else{
                        clearInterval(timer);
                        nums=60;//重置回去
                        validCode=true;
                        code.removeClass("gray-bg");
                        code.addClass("btn-primary");
                        code.text("发送验证码");
                    }
                },1000)
            }
        })


        // $('#phoneyzm').click(function(){
        //     var phone = "<{$inf['phone']}>";
        //     console.log(phone);
        //     $.ajax({
        //         type:'get',
        //         data:'phone='+phone,
        //         url:'<{:U('Person/sendyzm')}>',
        //         success:function(data){
        //         },
        //     })
        // })

        $('#oldpasswd').blur(function(){
            if ($(this).val()=='') {
                $(this).css('border','1px solid red');
                $('#p1').html('原密码不能为空！');
            }else{
                $(this).css('border','1px solid lightgreen');
                $('#p1').html('');
            }
        })

        $('#newpasswd').blur(function(){
            if ($(this).val()=='') {
                $(this).css('border','1px solid red');
                $('#p2').html('新密码不能为空！');
            } else if($(this).val().length < 5){
                 $(this).css('border','1px solid red');
                $('#p2').html('密码不能小于五位！');
            } else{
                $(this).css('border','1px solid lightgreen');
                $('#p2').html('');
            }
        })

        $('#repasswd').blur(function(){
            if ($(this).val()=='') {
                $(this).css('border','1px solid red');
                $('#p3').html('请再次输入新密码！');
            } else if($(this).val() != $('#newpasswd').val()) {
                $(this).css('border','1px solid red');
                $('#p3').html('两次输入密码不一致');
            } else {
                $(this).css('border','1px solid lightgreen');
                $('#p3').html('');
            }
        })

        var check = '';
        function checkPasswd(){
            var oldpasswd = $('#oldpasswd').val();
                $.ajax({
                    async:false,
                    type:'post',
                    url:'<{:U('Person/checkPasswd')}>',
                    data:"oldpasswd="+oldpasswd,
                    success:function(data){
                        check = data;
                    },
                })
                // console.log(check);
                if (check == 'false') {
                    $('#oldpasswd').css('border','1px solid red');
                    $('#p1').html('密码错误，请重试！');
                    return false;
                } else if( $('#newpasswd').val()=='' || $('#repasswd').val()=='') {
                    return false;
                } else{
                    return true;
                }
        }
    </script>
</div>
</div>
</block>