<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/my.css">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<block name="breadcrumb-02">
	<h1>
		分类管理
		<small>
			<i class="icon-double-angle-right"></i>
			 分类列表
		</small>
	</h1>
</block>
<block name='main'>
		<table class="table table-striped table-bordered table-hover">
			<thead>
			 <tr>
				<th>id</th>
				<th>分类名</th>
				<th>级别</th>
				<th>path</th>
				<th width="20%">操作</th>
			 </tr>
			</thead>
			<tbody>
			<volist name="list" id="vo">
				<tr>
					<td><{$vo.id}></td>
					<td><{$vo.html}><{$vo.typename}></td>
					<td><{$vo['level'] + 1}>级分类</td>
					<td><{$vo.path}></td>
					<th>
						<a href="<{:U('Cate/add',array('pid'=>$vo['id']))}>" class="btn btn-success"> 添加 </a>
						<a href="<{:U('Cate/del',array('id'=>$vo['id']))}>" class="btn btn-danger"> 删除 </a>
					</th>
				</tr>
			</volist>
			</tbody>
			
		
		</table>
</block>
</body>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</html>